# do not upload expression data
data/ICL/RNAseqWTRad21KOMacrophages.RData
data/MRC_LMS/*
data/Harmston2016/*
# ignore raw data files
data/Dixon2012/*
data/Rao2014/*
data/Rudan2015/*
data/UCSC/*
# ignore bin directory
bin/*
# irnoge some R related files
.Rproj.user
.Rhistory
# ignore results
results/*
# ignore some temporary files
README.html
slides_v03.*
